
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head><meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
        <title>Subodh</title>
        
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
<div class="jumbotron" style=" background-color:rgb(226, 226, 226); width: auto">
        <div class="container">
            <div style="text-align:center; margin-top: 60px;">
             <div >
             </div> 
            <div class="myName" style="font-size:50px;">Subodh Bhargav Lakhinana  </div>
            <article>
                <header>
                    <h2>My Background </h2>
                    <p>I am Subodh Bhargav from hyderabad, telangana,India. <br>
                        I have done my undergraduation in electronics and communication from Mahatma Gandhi Institution Of Technology.<br>
                        Present Iam currently persuing master in applied computer science This is going be a fresh experience.<br>
                        <p>
                </header>
                <section>
                    <h2>My Plans</h2>
                    <p> I have special interset in desiging web pages. <br>
                        In future I wanna work as program developer.<br></p>
                </section>
                <section>
                    <h2>My Interests</h2>
                    <p> I love watching Tv series apart from that like playing badminton, basketball.<br></p>
                </section>
                <footer>
                  
                    <p></p>
                </footer>
            </article>
                
              Connect me on: </label>
                        <a href="https://github.com/Subodhbhargav"class="fa fa-github"></a>
                        <a href="https://bitbucket.org/Subodhbhargav/"class="fa fa-bitbucket"> </a>
                        <a href="https://www.facebook.com/subodh.bhargav.5" class="fa fa-facebook"> </a>
                        <a href="https://www.linkedin.com/in/subodh-bhargav-lakhinana-85077b158/" class="fa fa-linkedin"></a>
          </p>
        </div>
      </div>
    
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <!-- referred w3schools.com to learn how to post a video on webpage -->
            
           
          </div>
    
      <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <!-- referred w3schools.com to learn how to post a video on webpage -->
             
              <iframe src="https://www.youtube.com/embed/2OcbJkQY-SA"></iframe>
             
            </div>
    
    
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                  <div class="col-md-4">
                    <!-- referred w3schools.com to learn how to post a video on webpage -->
                
                   
                  </div></body>