<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 02</a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t15">Team 15</a>
      <ul class="dropdown-menu">
        <li><a href="/about/t15/a">Satya Sai Ram Vankina</a></li>
        <li><a href="/about/t15/b">Niharika Gundala</a></li>
        <li><a href="/about/t15/c">Subodh Lakhanana</a></li>
        
      </ul>
    </li>
  </ul>
</li>