<div class="container">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Welcome</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/flight">Flights</a>
          </li>
          <li>
            <a href="/pilot">Pilots</a>
          </li>
          <li>
            <a href="/plane">Planes</a>
          </li>
          <!-- <li>
            <a href="/statistics">Statistics</a>
          </li> -->
          <% include about.ejs %>
          <% include stats.ejs %>
        </ul>

      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>