
<nav class="navbar navbar-inverse" role="navigation" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Vankina Satya Sai Ram</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/flight">Flights</a>
        </li>
        <li>
          <a href="/pilot">Pilots</a>
        </li>
      </ul>

    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
<body background="http://www.carinaleaguesclub.com.au/wp-content/uploads/green-abstract-background.jpg">
  <div class="left">
      <header id=heading> Satya Sai Ram Vankina</header>
      <img class="img-circle" src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/22141303_1341069542682201_8656210434007477352_n.jpg?_nc_cat=0&oh=8f4a1ad41f829262242503bac615c1a4&oe=5B2B5101">
      <div class = "row">
        <div class = "col-md-8">
<h1 class="codeblue">Current</h1>
<p class="code">At present I am pursuing Masters in Applied Computer science in <a href="http://www.nwmissouri.edu/login/">Northwest Missouri State University </a><br>  and looking forward to acquire all the required skills needed to be a good software engineer</br></p> 
</div>
<div class = "col-md-4">
<br>
  <header class="codeblue">Hobbies and Area of interest</header>
  <section class="code">
  <li>Playing Cricket</li>
  <li>Gaming FIFA (X box) </li>
  <li>Watching European Football</li>
  <header >Area of interest: Embedded</header>
</div>
</div>
<h1 class="codeblue">Background</h1>
<section class="code"> I'm from Tanuku,Andhra Pradesh,India.I am graduated in Electrical and Electronics Engineering<br> from <a href="http://vit.ac.in/">VIT </a> University, Vellore in May 2017.</br></section>
<h1 class="codeblue">Plans</h1>
<section class="code" >I haven't decided yet what I am going to be but I love Embedded systems and I want to expertise<br> in whatever field I choose to be in</b></section>
  </div>
<div class="right">
<aside class="nextside" >





</aside>
</div>
<iframe class= "video" width="760" height="315" src="https://www.youtube.com/embed/wesUO81YX0U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


</div>
</body>
<footer><p>Thank you</p>
</footer>>
