
<li class="dropdown">
<a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Statistics
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    
    <li>
        <a href="/Stats/pilotstats">Hours Flown</a>
    </li>
    <li>
        <a href="/Stats/flightstats">Flight Duration</a>
    </li>
    <li>
        <a href="/Stats/planestats">Fuel Capacity</a>
    </li>
</ul>
</li>