
<!DOCTYPE html>
<html>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vankina Satya Sai Ram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="C:/Users/S531508/Spring%202018/Web%20Apps/A01Vankina/bootstrap-4.0.0-dist/sairam.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="C:/Users/S531508/Spring%202018/Web%20Apps/A01Vankina/bootstrap-4.0.0-dist/calculation.html ">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" href="C:Users/S531508/Spring%202018/Web%20Apps/A01Vankina/bootstrap-4.0.0-dist/contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>



<title>Vankina Satya Sai Ram</title>
<link rel="stylesheet" type="text/css" href="/asd.css">
</head>
<body class="back">
  <div class = "container">
    <div class="left">
        <header id=heading> Satya Sai Ram Vankina</header>
        <img class="img-circle" src="C:\Users\S531508\Spring 2018\Web Apps\M01\Chinnu 20170327_231315.jpg">
        <div class = "row">
          <div class = "col-md-8">
<h1 class="codeblue">Current</h1>
<p class="code">At present I am pursuing Masters in Applied Computer science in <a href="http://www.nwmissouri.edu/login/">Northwest Missouri State University </a><br>  and looking forward to acquire all the required skills needed to be a good software engineer</br></p> 
</div>
<div class = "col-md-4">
  <br>
    <header class="codeblue">Hobbies and Area of interest</header>
    <section class="code">
    <li>Playing Cricket</li>
    <li>Gaming FIFA (X box) </li>
    <li>Watching European Football</li>
    <header >Area of interest: Embedded</header>
  </div>
</div>
<h1 class="codeblue">Background</h1>
<section class="code"> I'm from Tanuku,Andhra Pradesh,India.I am graduated in Electrical and Electronics Engineering<br> from <a href="http://vit.ac.in/">VIT </a> University, Vellore in May 2017.</br></section>
<h1 class="codeblue">Plans</h1>
<section class="code" >I haven't decided yet what I am going to be but I love Embedded systems and I want to expertise<br> in whatever field I choose to be in</b></section>
    </div>
<div class="right">
<aside class="nextside" >



 

</aside>
</div>
<iframe class= "video" width="760" height="315" src="https://www.youtube.com/embed/wesUO81YX0U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


</div>
<footer><p>Thank you</p>
  </footer>>
</body>
</html>