<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div>
        <h2>Plane Statistics</h2>
    </div>
    <%
    var max=0;
    var min = 0;
    var sum = 0;
    var avg = 0;
    plane = planes.query[planes.query.length-1];
    min = plane.fuelCapacity;
    max = plane.fuelCapacity;
    for (var i = planes.query.length-1; i >= 0; i--) {   
        plane = planes.query[i];
        if(plane.fuelCapacity < min){
            min = plane.fuelCapacity;
        }
        if(max <= plane.fuelCapacity){
            max = plane.fuelCapacity;
        }
        sum += plane.fuelCapacity;       
    } 
    avg = sum/planes.query.length;
    
    %>
    <div>
        <table class="table table-dark">
            <tr>
                <th scope="row">Mean</th>
                <td> <%= avg %> </td>
            </tr>
            <tr>
                <th scope="row">Maximum</th>
                <td> <%= max %> </td>
            </tr>
            <tr>
                <th scope="row">Minimun</th>
                <td> <%= min %> </td>
            </tr>
        </table>
    </div>

</div>
</div>
</div>