<!DOCTYPE html>

<head>  
                
                                <meta charset="utf-8">
                                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                                <title>Bootstrap 101 Template</title>
                                <!-- Bootstrap -->
                                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
                                <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                                <!--[if lt IE 9]>
                                    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
                                    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                                  <![endif]-->
<title>Niharika Gundala </title> 
<link rel="stylesheet" type="text/css" href="Niharika.css"></head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmdrPCwrjGhS_U36uV95jLEnV6r4AAXQRg3ZczcZDH499LFvfe">
        
    <section="container">
 <div class="header">
      
<article>
        <div id="text">
<h2> Niharika Gundala </h2>
 

</div>
</div>
<nav>
        <ul>
                        <br>
                        <br>
                        <br>
                        <br>
                <li><a class="active" href="Niharika1.html">Home</a></li>
                <li><a href="temp.html">Temperature Converter</a></li>
                <li><a href="Contact.html">Contact</a></li>
                
              </ul>
              
</nav><br>
<div class="container">
<div>
<h4> About Myself</h4><br>
<section>
<header class="section-header">
 <h4>Current</h4>
</header>
<p>I'm currently pursuing first semester of my Masters in Applied Computer Science at Northwest Missouri State University.</p>
</section="container">
<section id="past-section">
<header class="section-header">
 <h4>Background</h4>
</section>
</header>
<p>I'm from Hyderabad located in the southern part of India.<br>
I have done my under graduation majoring in Computer Science and Engineering from Anurag Group of Institutions, in may 2017.<br>
I don't have any work experience in this field.<br>
I attended workshops on HTML basics and completed a project on creating a dynamic website.
</p>

<section="container" id="future-section">
<header class="section-header">
 <h4>Plans</h4>
</header>
<p>I like to design web applications and I anticipate to see myself as a good software developer in a reputed company near future.</p>

</article>
<aside>
<header class="aside-header">
<h4>Interests</h4>
</header>
<p>I'm interested in watching web series. I like travelling and exploring different places and cultures. Also,I play badminton. </p>
</div></aside>
<center><iframe width="560" height="315"  src="https://www.youtube.com/embed/2OcbJkQY-SA" frameborder="0" align="middle" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
</div>
<footer>Copyright &copy; Niharika Gundala</footer></section>
</section>

</body>
</html>
